<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unipu.hr.GoPlay">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logotip"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Kreditna_kartica"></activity>
        <activity android:name=".Sudionici" />
        <activity android:name=".broj_osoba" />
        <activity android:name=".Odabir_igralista" />
        <activity android:name=".Datum_dogadaja" />
        <activity android:name=".Vrijeme_dogadaja" />
        <activity android:name=".Lokacija_dogadaja" />
        <activity android:name=".Cijana_dogadaja" />
        <activity
            android:name=".Kreiranje_dogadaja"
            android:label="@string/title_activity_kreiranje_dogadaja"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Novcanik"
            android:label="@string/title_activity_novcanik"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Unos_profila"
            android:label="@string/title_activity_unos_profila"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dogadaji"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PozivPrijatelja"
            android:label="@string/title_activity_poziv_prijatelja"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Uvjetikoristenja" />
        <activity android:name=".Onama" />
        <activity
            android:name=".Kontakt"
            android:label="@string/title_activity_kontakt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>